
.wrapper{
    background-image: url("/ethics/images/bg.jpg") ;


}
#loginwrapper, #regwrapper{
    margin-top: 240px;
    border: 1px solid transparent ;
    background-color: white;
    padding: 5px;

}