
.wrapper{
    background-image: url("/ethics/images/bg.jpg") ;


}
.hfont{
    font-family: 'Kaushan Script', cursive;
}

#loginwrapper, #regwrapper{
    margin-top: 230px;
    border: 1px solid white;
    background-color: #ecf0f1;
    padding: 50px;
    font-family: 'Philosopher', sans-serif;


}