
.wrapper{
    background-image: url("/ethics/images/bg.jpg") ;


}
#loginwrapper, #regwrapper{
    margin-top: 230px;
    border: 1px solid white;
    background-color: #ecf0f1;
    padding: 80px;
    box-shadow: gray 10px;

}