<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <!-- Rules for Get Users -->
                <rule name="Get Users" stopProcessing="true">
                    <match url="^apiendpoint/?$" ignoreCase="true" />
                    <action type="Rewrite" url="/apiendpoint.php"  />
                </rule>
                <rule name="Get a User" stopProcessing="true">
                    <match url="^apiendpoint/([a-zA-Z0-9-]+)/?$" ignoreCase="true" />
                    <action type="Rewrite" url="/apiendpoint.php?users={R:1}"  />
                </rule>

                <!-- Rule to Insert Users -->
                <rule name="Insert Users" stopProcessing="true">
                    <match url="^apiendpoint/([?_.a-zA-Z0-9-]+)/?$" ignoreCase="true" />
                    <action type="Rewrite" url="/apiendpoint.php?firstname={R:1}&amp;lastname={R:2}&amp;userid={R:3}&amp;email={R:4}&amp;role={R:5}&amp;password={R:6}"  />
                </rule>


            </rules>
        </rewrite>
    </system.webServer>
</configuration>
